<h2 class="text-maroon px-3 ubuntu-font text-center pt-2 mt-2">Sign Up to Tasks</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="d-flex flex-row flex-wrap justify-content-center pt-2 mt-2">
    <div class="card m-3 shadow d-flex flex-column justify-content-between bg-light border-0" style="width: 25rem;">

      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="card-body d-flex flex-column justify-content-between">

          <div class="field mb-1">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-center form-control mb-2" %>
          </div>

          <div class="field mb-1">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "text-center form-control mb-2" %>
          </div>

          <div class="field mb-2">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text-center form-control mb-2" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "btn btn-outline-primary shadow w-100 border-0" %>
          </div>


        <%= render "devise/shared/links" %>


      </div>
    </div>
  </div>
<% end %>

