<% if current_user == nil %>

   <h1 class="text-maroon px-3 ubuntu-font text-center pt-3 mt-5">Sign In or Sign Up!</h1>

<% else %>
   <%= render "new-button" %>

   <%if current_user.name %>
      <h2 class="text-maroon px-3 ubuntu-font text-center pt-2 mt-2">Today's Tasks for <%= current_user.name %></h2>
   <%else%>
      <h2 class="text-maroon px-3 ubuntu-font text-center pt-2 mt-2">Today's Tasks</h2>
   <%end%>
   <div class="d-flex flex-row flex-wrap justify-content-center pt-1 mt-1 off-white">
      
      <% if @tasks_today.empty? %>
         <h4 class="text-maroon px-3 ubuntu-font text-center pt-2 mt-2">No Tasks Today ðŸ¤”</h4>
      <%else%>
            <% @tasks_today.each do |task| %>
                  <div class="bg-light border-0 card m-4 shadow d-flex flex-column justify-content-between breathingEffect" style="width: 18rem; height: auto;">

                     <%= link_to task_path(task), class: "text-decoration-none link-dark" do %>
                        <div class="card-body d-flex flex-column justify-content-between" style="height: 10rem;">
                           <h4 class="card-title border-bottom border-warning pb-1 ubuntu-font text-maroon"><%= task.task_name[0, 15]... %></h4>
                           
                           <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                                 <button class="maroon p-1 m-1 rounded text-light btn-sm border-0 font-weight-bold "><%= task.task_deadline ? task.task_deadline.strftime('%I:%M %p') : 'None' %> </button>
                                 
                                 <button class="maroon p-1 m-1 rounded text-light btn-sm border-0 font-weight-bold">
                                       <%= task.task_done ? 'Task is done! ðŸ˜' : 'Not yet done. ðŸ¤¡' %> 
                                 </button>
                           </div>

                           <p class="card-text m-3 text-center text-muted">Open to see details</p>
                        
                        </div>
                     
                     <% end %>
                     
                     <div class='m-3 d-flex flex-wrap mt-4'> 
                        <% task.labels.reverse_each do |l| %>
                           <%= link_to label_path(l), class: "text-decoration-none link-dark" do %>
                              <button class="bg-warning p-1 m-1 rounded text-maroon btn-sm border-0"> <%= l.label_name[0, 15]%> </button>
                           <%end%>
                        <%end%>
                     </div>
                  </div>
            <%end%>
      <%end%>

   </div>
<% end %>
