<h2 class="text-maroon px-3 ubuntu-font text-center pt-2 mt-2">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="d-flex flex-row flex-wrap justify-content-center pt-2 mt-2">
    <div class="card m-3 shadow d-flex flex-column justify-content-between bg-light border-0" style="width: 25rem;">

      <div class="card-body d-flex flex-column justify-content-between">

        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-center form-control mb-2", placeholder: "Email" %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions",class: "btn btn-danger shadow w-100 my-2" %>
        </div>

        <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
<% end %>


