<% if current_user == nil %>
<h1 class="text-maroon px-3 ubuntu-font text-center pt-3 mt-5">Sign In or Sign Up!</h1>
<% else %>
<h1 class="text-maroon px-3 ubuntu-font text-center pt-3 mt-5">Welcome, <%= current_user.email %>!</h1>

<div class="m-5 d-flex flex-row flex-wrap align-items-center justify-content-center">
      <%= link_to 'Show Tasks', tasks_path, class: "btn btn-danger shadow mr-1 mt-0 mb-0 m-5" %>
      <%= link_to 'Show Labels', labels_path, class: "btn btn-warning shadow mr-1 mt-0 mb-0 text-maroon" %>

      <%= link_to 'New Task', new_task_path, class: "btn btn-danger shadow mr-1 mt-0 mb-0 m-5" %>
      <%= link_to 'New Label', new_label_path, class: "btn btn-warning shadow mr-1 mt-0 mb-0 text-maroon" %>
</div>

<% end %>

