<!DOCTYPE html>
<html>
  <head>
    <title>Tasks by MU</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <%# <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> %>
    <%# <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> %>

  </head>


  
  <body class="off-white">

    <%= render "header" %>

    <div class="container trix-content mt-5">
       <%= yield %>
    </div>

    <div class="d-flex flex-wrap justify-content-center fixed-bottom m-5"> 
      <%if notice %>
        <p class="notice alert-danger m-3 "><%= notice %></p>
      <%end%>
      
      <%if alert %>
        <p class="alert alert-danger m-3 "><%= alert %></p>
      <%end%>
    </div>


  </body>
  
</html>
